################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
*.suo
*.proj
*.dll
*.pdb
*.csproj
*.cache
*.cs
